<div class="todos">

  <div>
    <h1><p>To-Do List</p></h1>
    <form (submit)="addTodo($event)">
      <input name="newTodo" [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield">
      <button  type="submit" [disabled]="newTodo===''">Add Todo</button>
    </form>
  </div>

  <div [hidden]="newTodo">
    Enter your todo list
  </div>

  <ol>
    <li *ngFor="let todo of todos; let i=index">
      <span style="font-size: 30px " [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
      <span (click)="deleteTodo(i)" class="delete-icon"><button>Done</button></span>
    </li>
  </ol>


</div>
